<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="support-search-tool">
            <div id="header">
                <div class="collapse-tab">
                    <img src="{% static 'images/cross.svg' %}" alt="">
                </div>
                <h2>Any Question</h2>
                <img src="{% static 'images/chatbot-speech-bubble.svg' %}" alt="">
            </div>
            
            <!-- textbox/textbox.html -->
            <form method="post" class="message-form">
            {% csrf_token %}
                <textarea name="q" placeholder="Type your search query here"></textarea>
                <br>
                <button type="submit">Search</button>
            </form>
            <div class="search-result">
                <!-- <strong>Answer</strong> -->
            </div>
            <footer>
                <p>&copy; 2024 SupportSearch</p>
            </footer>
        </div>

        <!-- <div class="expand-tab">
            <div id="header">
                <h2>Ask a Question</h2>
                <img src="{% static 'images/chatbot-speech-bubble.svg' %}" alt="">
            </div>
        </div> -->
        

        
        <script src="" async defer></script>
    </body>
</html>